<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link href="css/mui.css" rel="stylesheet" />
	<link href="css/header.css" rel="stylesheet"/>
</head>
<style>
	#scanComponet{
		width: 100%;
		position: absolute;
		top: 44px;
		bottom: 0;
		text-align: center;
		background: #000000;
	}
</style>
<body>
	<header class="mui-bar mui-bar-nav title">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left title-color"></a>
		<h1 class="mui-title title-color"><b id="chatting-nickname">扫一扫</b></h1>
	</header>
	<div id="scanComponet">
		
	</div>
	<script src="js/mui.js"></script>
	<script src="js/app.js"></script>
	<script type="text/javascript">
		mui.init();
		
		mui.plusReady(function () {
			
			setTimeout("startScan()","500");
		});
		
		var scan;
		function startScan(){
			scan = new plus.barcode.Barcode("scanComponet",null,{
				frameColor: "#409EFF",
				scanbarColor: "409EFF",
				background: ""
			});
			scan.onmarked = onmarked;
			scan.start();
		}
		function onmarked(type, result) {
			if(type === 0){
				var content = result.split("huge_qrcode:");
				if(content.length != 2){
					mui.alert(result);
				}else{
					var friendUsername = content[1];
							console.log(friendUsername)
					
					var user = app.getUserGlobalInfo();
					
					plus.nativeUI.showWaiting("请稍后...");
					mui.ajax(app.serverUrl+'/user/search?myUserId='+user.id+"&friendUsername="+friendUsername,
					{
						data:{},
						dataType:'json',//服务器返回json格式数据
						type:'get',//HTTP请求类型
						timeout:10000,//超时时间设置为10秒；
						success:function(res){
							plus.nativeUI.closeWaiting();
							console.log(res.status)
							if(res.status == 200){
								mui.openWindow({
									url: 'friendInfo.html',
									id: 'friendInfo',
									styles:{},
									extras:{
										willBeFriend: res.data
									}
								});
							}else{
								app.showToast(res.msg,"error");
							}
							
						}
					});
				}
			}
			scan.start();
		}
	</script>
</body>
</html>
